---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: bigquerydatasets.bigquery.cnrm.cloud.google.com
spec:
  group: bigquery.cnrm.cloud.google.com
  names:
    kind: BigQueryDataset
    listKind: BigQueryDatasetList
    plural: bigquerydatasets
    singular: bigquerydataset
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              This map (and its members) are inspired by output of (the resource existed in GCP clusters already):
                kubectl get crd bigquerydatasets.bigquery.cnrm.cloud.google.com -o yaml
            properties:
              access:
                description: Email and role for service user given access to dataset
                items:
                  properties:
                    role:
                      description: Hardcoded read-write/admin role for service account
                      type: string
                    userByEmail:
                      description: Email of service account (from GCP Team project)
                        used to access the dataset
                      type: string
                  required:
                  - role
                  - userByEmail
                  type: object
                type: array
              description:
                description: Optional - Will also be shown in google cloud console
                  (in browser)
                type: string
              location:
                description: Physical location of GCP resource
                type: string
              resourceID:
                description: The datasetId of the resource. Used for creation and
                  acquisition.
                type: string
            required:
            - access
            - location
            - resourceID
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
