
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: aivenapplications.kafka.nais.io
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.secretName
    name: Name of secret
    type: string
  - JSONPath: .status.synchronizationState
    name: State
    priority: 10
    type: string
  - JSONPath: .status.synchronizationTime
    name: Synced
    priority: 20
    type: date
  - JSONPath: .metadata.creationTimestamp
    name: Age
    priority: 30
    type: date
  group: kafka.nais.io
  names:
    kind: AivenApplication
    listKind: AivenApplicationList
    plural: aivenapplications
    shortNames:
    - aivenapp
    singular: aivenapplication
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            kafka:
              description: Kafka is a section configuring the kafka credentials to
                provision
              properties:
                pool:
                  description: Pool is the Kafka pool (aka cluster) on Aiven this
                    application uses
                  type: string
              required:
              - pool
              type: object
            protected:
              description: A Protected secret will not be deleted by the janitor even
                when not in use
              type: boolean
            secretName:
              description: SecretName is the name of the secret containing Aiven credentials
              type: string
          required:
          - secretName
          type: object
        status:
          properties:
            conditions:
              description: Represents the latest available observations of an AivenApplications'
                current state.
              items:
                description: AivenApplicationCondition describes the state of a deployment
                  at a certain point.
                properties:
                  lastUpdateTime:
                    description: The last time this condition was updated.
                    format: date-time
                    type: string
                  message:
                    description: A human readable message indicating details about
                      the transition.
                    type: string
                  reason:
                    description: The reason for the condition's last transition.
                    type: string
                  status:
                    description: Status of the condition, one of True, False, Unknown.
                    type: string
                  type:
                    description: Type of condition.
                    type: string
                required:
                - status
                - type
                type: object
              type: array
            observedGeneration:
              description: ObservedGeneration is the generation most recently observed
                by Aivenator
              format: int64
              type: integer
            synchronizationHash:
              description: SynchronizationHash is the hash of the AivenApplication
                object most recently successfully synchronized
              type: string
            synchronizationSecretName:
              description: SynchronizationSecretName is the SecretName set in the
                last successful synchronization
              type: string
            synchronizationState:
              description: SynchronizationState denotes whether the provisioning of
                the AivenApplication has been successfully completed or not
              type: string
            synchronizationTime:
              description: SynchronizationTime is the last time the Status subresource
                was updated
              format: date-time
              type: string
            synchronizedGeneration:
              description: SynchronizedGeneration is the generation most recently
                successfully synchronized by Aivenator
              format: int64
              type: integer
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
