
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: maskinportenclients.nais.io
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.secretName
    name: Secret Ref
    type: string
  - JSONPath: .status.clientID
    name: ClientID
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: Age
    type: date
  - JSONPath: .metadata.creationTimestamp
    name: Created
    type: date
  - JSONPath: .status.synchronizationTime
    name: Synchronized
    type: date
  group: nais.io
  names:
    kind: MaskinportenClient
    listKind: MaskinportenClientList
    plural: maskinportenclients
    singular: maskinportenclient
  scope: Namespaced
  subresources: {}
  validation:
    openAPIV3Schema:
      description: MaskinportenClient is the Schema for the MaskinportenClient API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: MaskinportenClientSpec defines the desired state of MaskinportenClient
          properties:
            scopes:
              description: Scopes is a object of used end exposed scopes by application
              properties:
                exposes:
                  items:
                    properties:
                      AtAgeMax:
                        description: AtAgeMax Max time in seconds for a issued access_token
                        maximum: 680
                        minimum: 30
                        type: integer
                      allowedIntegrations:
                        items:
                          type: string
                        minItems: 1
                        type: array
                      consumers:
                        description: External consumers able to get a token on provided
                          scope
                        items:
                          properties:
                            name:
                              description: A Name for describing the consumer org
                                number.
                              type: string
                            orgno:
                              description: Orgno is an external business organisation
                                number
                              pattern: ^\d{9}$
                              type: string
                          required:
                          - orgno
                          type: object
                        minItems: 1
                        type: array
                      name:
                        description: An external exposed scope to consumers matching
                          the regex starting with `nav:`
                        pattern: ^[a-z0-9]+(\/?[a-z0-9]+)*(\.[a-z0-9]+)?$
                        type: string
                    required:
                    - consumers
                    - name
                    type: object
                  type: array
                use:
                  items:
                    properties:
                      name:
                        type: string
                    required:
                    - name
                    type: object
                  type: array
              required:
              - use
              type: object
            secretName:
              description: SecretName is the name of the resulting Secret resource
                to be created
              type: string
          required:
          - secretName
          type: object
        status:
          description: DigdiratorStatus defines the observed state of Current Client
          properties:
            applicationScopes:
              description: Unique Scopes activated and registered with access for
                this application at digdir
              properties:
                scopes:
                  items:
                    properties:
                      name:
                        type: string
                      organizationNumbers:
                        items:
                          type: string
                        type: array
                    type: object
                  type: array
              type: object
            clientID:
              description: ClientID is the corresponding client ID for this client
                at Digdir
              type: string
            correlationID:
              description: CorrelationID is the ID referencing the processing transaction
                last performed on this resource
              type: string
            keyIDs:
              description: KeyIDs is the list of key IDs for valid JWKs registered
                for the client at Digdir
              items:
                type: string
              type: array
            synchronizationHash:
              description: SynchronizationHash is the hash of the Instance object
              type: string
            synchronizationSecretName:
              description: SynchronizationSecretName is the SecretName set in the
                last successful synchronization
              type: string
            synchronizationState:
              description: SynchronizationState denotes the last known state of the
                Instance during synchronization
              type: string
            synchronizationTime:
              description: SynchronizationTime is the last time the Status subresource
                was updated
              format: date-time
              type: string
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
