---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.1
  name: idportenclients.nais.io
spec:
  group: nais.io
  names:
    kind: IDPortenClient
    listKind: IDPortenClientList
    plural: idportenclients
    shortNames:
    - idportenclient
    singular: idportenclient
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.secretName
      name: Secret Ref
      type: string
    - jsonPath: .status.clientID
      name: ClientID
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - jsonPath: .metadata.creationTimestamp
      name: Created
      type: date
    - jsonPath: .status.synchronizationTime
      name: Synchronized
      type: date
    name: v1
    schema:
      openAPIV3Schema:
        description: IDPortenClient is the Schema for the IDPortenClients API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: IDPortenClientSpec defines the desired state of IDPortenClient
            properties:
              accessTokenLifetime:
                description: AccessTokenLifetime is the maximum lifetime in seconds
                  for the returned access_token from ID-porten.
                maximum: 3600
                minimum: 1
                type: integer
              clientURI:
                description: ClientURI is the URL to the client to be used at DigDir
                  when displaying a 'back' button or on errors
                pattern: ^https:\/\/.+$
                type: string
              frontchannelLogoutURI:
                description: FrontchannelLogoutURI is the URL that ID-porten sends
                  a requests to whenever a logout is triggered by another application
                  using the same session
                pattern: ^https:\/\/.+$
                type: string
              integrationName:
                description: Name of integration
                type: string
              integrationType:
                description: "IntegrationType is used to make sensible choices for
                  your client. Which type of integration you choose will provide guidance
                  on which scopes you can use with the client. A client can only have
                  one integration type. \n NB! It is not possible to change the integration
                  type after creation."
                enum:
                - krr
                - idporten
                - api_klient
                type: string
              postLogoutRedirectURIs:
                description: PostLogoutRedirectURI is a list of valid URIs that ID-porten
                  may redirect to after logout
                items:
                  pattern: ^https:\/\/.+$
                  type: string
                type: array
              redirectURI:
                description: RedirectURI is the redirect URI to be registered at DigDir.
                  Deprecated, prefer RedirectURIs.
                pattern: ^https:\/\/.+$
                type: string
              redirectURIs:
                description: RedirectURIs is the list of redirect URIs to be registered
                  at DigDir.
                items:
                  pattern: ^https:\/\/.+$
                  type: string
                type: array
              scopes:
                description: "Register different oauth2 Scopes on your client. You
                  will not be able to add a scope to your client that conflicts with
                  the client's IntegrationType. For example, you can not add a scope
                  that is limited to the IntegrationType `krr` of integrationType
                  `idporten`, and vice versa. \n Default for IntegrationType `krr`
                  = (\"krr:global/kontaktinformasjon.read\", \"krr:global/digitalpost.read\")
                  Default for IntegrationType `idporten` = (\"openid\", \"profile\")
                  IntegrationType `api_klient` have no Default, checkout Digdir documentation."
                items:
                  type: string
                type: array
              secretName:
                description: SecretName is the name of the resulting Secret resource
                  to be created
                type: string
              sessionLifetime:
                description: SessionLifetime is the maximum session lifetime in seconds
                  for a logged in end-user for this client.
                maximum: 28800
                minimum: 3600
                type: integer
            required:
            - secretName
            type: object
          status:
            description: DigdiratorStatus defines the observed state of Current Client
            properties:
              clientID:
                description: ClientID is the corresponding client ID for this client
                  at Digdir
                type: string
              correlationID:
                description: CorrelationID is the ID referencing the processing transaction
                  last performed on this resource
                type: string
              keyIDs:
                description: KeyIDs is the list of key IDs for valid JWKs registered
                  for the client at Digdir
                items:
                  type: string
                type: array
              synchronizationHash:
                description: SynchronizationHash is the hash of the Instance object
                type: string
              synchronizationSecretName:
                description: SynchronizationSecretName is the SecretName set in the
                  last successful synchronization
                type: string
              synchronizationState:
                description: SynchronizationState denotes the last known state of
                  the Instance during synchronization
                type: string
              synchronizationTime:
                description: SynchronizationTime is the last time the Status subresource
                  was updated
                format: date-time
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
