---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.1
  name: sqlinstances.sql.cnrm.cloud.google.com
spec:
  group: sql.cnrm.cloud.google.com
  names:
    kind: SQLInstance
    listKind: SQLInstanceList
    plural: sqlinstances
    singular: sqlinstance
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              databaseVersion:
                type: string
              region:
                type: string
              resourceID:
                type: string
              settings:
                properties:
                  availabilityType:
                    type: string
                  backupConfiguration:
                    properties:
                      backupRetentionSettings:
                        properties:
                          retainedBackups:
                            type: integer
                        required:
                        - retainedBackups
                        type: object
                      enabled:
                        type: boolean
                      pointInTimeRecoveryEnabled:
                        type: boolean
                      startTime:
                        type: string
                    required:
                    - enabled
                    - pointInTimeRecoveryEnabled
                    - startTime
                    type: object
                  databaseFlags:
                    items:
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                      required:
                      - name
                      - value
                      type: object
                    type: array
                  diskAutoresize:
                    type: boolean
                  diskSize:
                    type: integer
                  diskType:
                    type: string
                  insightsConfig:
                    properties:
                      queryInsightsEnabled:
                        type: boolean
                      queryStringLength:
                        type: integer
                      recordApplicationTags:
                        type: boolean
                      recordClientAddress:
                        type: boolean
                    required:
                    - recordApplicationTags
                    - recordClientAddress
                    type: object
                  ipConfiguration:
                    properties:
                      requireSsl:
                        type: boolean
                    required:
                    - requireSsl
                    type: object
                  maintenanceWindow:
                    properties:
                      day:
                        type: integer
                      hour:
                        type: integer
                    required:
                    - day
                    - hour
                    type: object
                  tier:
                    type: string
                required:
                - availabilityType
                - backupConfiguration
                - databaseFlags
                - diskAutoresize
                - diskSize
                - diskType
                - insightsConfig
                - ipConfiguration
                - tier
                type: object
            required:
            - databaseVersion
            - region
            - settings
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
