---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.1
  name: storagebuckets.storage.cnrm.cloud.google.com
spec:
  group: storage.cnrm.cloud.google.com
  names:
    kind: StorageBucket
    listKind: StorageBucketList
    plural: storagebuckets
    singular: storagebucket
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              lifecycleRule:
                items:
                  properties:
                    action:
                      properties:
                        type:
                          type: string
                      type: object
                    condition:
                      properties:
                        age:
                          type: integer
                        createdBefore:
                          type: string
                        numNewerVersions:
                          type: integer
                        withState:
                          type: string
                      type: object
                  required:
                  - action
                  - condition
                  type: object
                type: array
              location:
                type: string
              publicAccessPrevention:
                enum:
                - inherited
                - enforced
                type: string
              resourceID:
                type: string
              retentionPolicy:
                properties:
                  retentionPeriod:
                    type: integer
                type: object
              uniformBucketLevelAccess:
                type: boolean
            required:
            - location
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
