name: Build liberator and deploy CRDs

on: [push]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.19"
      - name: go test
        run: go test ./...

  documentation:
    name: Update documentation
    if: github.ref == 'refs/heads/main'
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          path: liberator
      - uses: navikt/github-app-token-generator@v1
        id: get-token
        with:
          private-key: ${{ secrets.NAIS_APP_PRIVATE_KEY }}
          app-id: ${{ secrets.NAIS_APP_ID }}
          repo: nais/doc
      - uses: actions/checkout@v3
        with:
          repository: nais/doc
          token: ${{ steps.get-token.outputs.token }}
          path: naisdoc
      - uses: actions/setup-go@v3
        with:
          go-version: "1.19"
      - name: Generate documentation
        run: |
          cd liberator
          make doc
      - name: Commit documentation to nais/doc
        run: |
          cd naisdoc
          cp -v ../liberator/doc/output/application/reference.md docs/nais-application/application.md
          cp -v ../liberator/doc/output/application/example.md docs/nais-application/example.md
          cp -v ../liberator/doc/output/naisjob/reference.md docs/naisjob/reference.md
          cp -v ../liberator/doc/output/naisjob/example.md docs/naisjob/example.md
          cp -v ../liberator/doc/output/alert/reference.md docs/observability/alerts/reference.md
          cp -v ../liberator/doc/output/alert/example.md docs/observability/alerts/example.md

          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add .
          git --no-pager diff --cached
          if [ ! -z "$(git diff --cached)" ]; then
            git commit -a -m "Automatic update of nais application reference/example" -m "liberator commit sha: ${GITHUB_SHA}"
            git push
          else
            echo "No changes; skip commit"
          fi

  deploy:
    name: Deploy to Kubernetes
    if: github.ref == 'refs/heads/main'
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        path: liberator
    - uses: navikt/github-app-token-generator@v1
      id: get-token
      with:
        private-key: ${{ secrets.NAIS_APP_PRIVATE_KEY }}
        app-id: ${{ secrets.NAIS_APP_ID }}
        repo: navikt/nais-yaml
    - name: Checkout nais-yaml
      uses: actions/checkout@v3
      with:
        repository: navikt/nais-yaml
        token: ${{ steps.get-token.outputs.token }}
        path: nais-yaml
    - name: Commit CRDs to nais-yaml
      run: |
        cd nais-yaml
        echo "{{- if .naiserator.enabled }}" > templates/zz-generated-nais-crds.yaml
        cat ../liberator/config/crd/bases/*nais.io_*.yaml >> templates/zz-generated-nais-crds.yaml
        echo "{{- end }}" >> templates/zz-generated-nais-crds.yaml
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
        git add .
        git --no-pager diff --cached
        if [ ! -z "$(git diff --cached)" ]; then
          git commit -a -m "Update NAIS custom resource definitions" -m "liberator commit sha: ${GITHUB_SHA}"
          git push
        else
          echo "No changes; skip commit"
        fi

  json-spec:
    name: Generate and upload json-spec
    if: github.ref == 'refs/heads/main'
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: "1.19"
    - name: Generate json-spec
      run: make doc && ./hack/build-json-spec.sh
    - uses: actions-hub/gcloud@405.0.0
      env:
        PROJECT_ID: nais-json-schema-2c91
        APPLICATION_CREDENTIALS: ${{ secrets.NAIS_JSON_SCHEMA_BUCKET_SA }}
      with:
        args: |
          -qm \
          -h 'Cache-Control:private, max-age=0, no-transform' \
          cp -r \
          doc/output/openapi/kubernetes \
          doc/output/openapi/nais \
          doc/output/openapi/nais-all.json \
          doc/output/openapi/nais-k8s-all.json \
          gs://nais-json-schema-2c91
        cli: gsutil
