name: Build liberator and deploy CRDs

on: [push]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    container:
      image: golang:1.15
    steps:
      - uses: actions/checkout@v2
      - name: go test
        run: go test ./...

  documentation:
    name: Update documentation
    if: github.ref == 'refs/heads/main'
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: liberator
      - uses: actions/checkout@v2
        with:
          repository: nais/doc
          path: naisdoc
      - uses: actions/setup-go@v2
        with:
          go-version: "1.15"
      - name: Generate documentation
        run: |
          cd liberator
          make doc
      - name: Commit documentation to nais/doc
        run: |
          cd naisdoc
          cp -v ../liberator/doc/output/application/reference.md docs/nais-application/application.md
          cp -v ../liberator/doc/output/application/example.md docs/nais-application/example.md
          cp -v ../liberator/doc/output/naisjob/reference.md docs/naisjob/reference.md
          cp -v ../liberator/doc/output/naisjob/example.md docs/naisjob/example.md
          cp -v ../liberator/doc/output/alert/reference.md docs/observability/alerts/reference.md
          cp -v ../liberator/doc/output/alert/example.md docs/observability/alerts/example.md

          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add .
          git --no-pager diff --cached
          if [ ! -z "$(git diff --cached)" ]; then
            git commit -a -m "Automatic update of nais application reference/example" -m "liberator commit sha: ${GITHUB_SHA}"
            git push
          else
            echo "No changes; skip commit"
          fi

  deploy:
    name: Deploy to Kubernetes
    if: github.ref == 'refs/heads/main'
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        path: liberator
    - name: Checkout nais-yaml
      uses: actions/checkout@v2
      with:
        repository: navikt/nais-yaml
        token: ${{ secrets.SRVNAIS_REPO_PUSH_PAT }}
        path: nais-yaml
    - name: Commit CRDs to nais-yaml
      run: |
        cat config/crd/bases/*nais.io_*.yaml > ../nais-yaml/templates/zz-generated-nais-crds.yaml
        cd $NAIS_YAML
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
        git add .
        git --no-pager diff --cached
        if [ ! -z "$(git diff --cached)" ]; then
          git commit -a -m "Update NAIS custom resource definitions" -m "liberator commit sha: ${GITHUB_SHA}"
          git push
        else
          echo "No changes; skip commit"
        fi
